#container.main_container .lnb {min-height:1251px; max-height:1251px; }
.main_content_wrap {float:right; width:calc(100% - 290px); padding:0 0 0 10px; }
.main_content_wrap .more_btn {float:right; font-size:12px; color:#aaaaaa; font-weight:200; }

.main_content_top {padding:0 0 0 0; }
.main_content_top:after {content:""; display:block; clear:both; }
.main_visual {float:left; width:100%; height:480px; }
.main_visual .swiper-container {position:relative; width:100%; height:100%; border-radius:20px 0 0 20px; }
.main_visual .swiper-container .swiper-wrapper {height:100% !important; }
.main_visual .swiper-container .swiper-wrapper .swiper-slide {height:100%; }
.main_visual .swiper-container .swiper-wrapper .swiper-slide .inner {height:100%; padding:80px 0 0 8%; box-sizing:border-box; }
.main_visual .swiper-container .swiper-wrapper .visual01 {background:url(../img/main/main_visual01_bg.jpg) no-repeat left center; background-size:cover; }
.main_visual .swiper-container .swiper-wrapper .visual02 {background:url(../img/main/main_visual02_bg.jpg) no-repeat left center; background-size:cover; }
.main_visual .swiper-container .swiper-wrapper .visual03 {background:url(../img/main/main_visual03_bg.jpg) no-repeat right center; background-size:cover; }
.main_visual .swiper-container .swiper-wrapper .tit {line-height:70px; font-size:70px; font-weight:800; color:#ffffff; }
.main_visual .swiper-container .swiper-wrapper .tit .txt_b {line-height:80px; font-size:90px; font-weight:800; color:#3277bb; }
.main_visual .swiper-container .swiper-wrapper .desc {display:inline-block; line-height:22px; font-size:18px; color:#fff; margin-top:20px; }
.main_visual .swiper-container .swiper-wrapper .main_visual_btn {display:inline-block; font-size:16px; color:#fff; font-weight:600; background:#da2b3c; border-radius:10px; padding:13px 19px; margin-top:35px; cursor:pointer; }
/* .main_visual .swiper-container .swiper-wrapper a {display:inline-block; width:100%; height:100%; } */
.main_visual .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {width:auto; height:5px; bottom:30px; right:30px; left:auto; font-size:0; }
.main_visual .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 0 5px; }
.main_visual .swiper-container .swiper-pagination-bullet {width:20px; height:5px; border-radius:2.5px; background:#fff; vertical-align:top; opacity:1; }
.main_visual .swiper-container .swiper-pagination-bullet:first-child {margin-left:0; }
.main_visual .swiper-container .swiper-pagination-bullet-active {background:#ffcc00; }

.main_content_mid {display:flex; position:relative; margin-top:20px; }
.main_quick {flex:1; position:relative; min-height:300px; background:#1e1e1e; border-radius:20px; padding:25px 40px 44px 40px; }
.main_quick h3 {font-size:26px; color:#838385; border-bottom:1px solid #38383a; padding-bottom:16px; margin-bottom:20px; }
.main_quick h3 .quick_name {font-size:26px; color:#fff; font-weight:bold; vertical-align:top; }
.main_quick h3 .quick_name span {font-size:26px; color:#ffcc00; vertical-align:top; }
.main_quick .main_quick_wrap ul {display:flex; justify-content:center; margin-top:15px; }
.main_quick .main_quick_wrap ul:first-child {margin-top:0; }
.main_quick .main_quick_wrap ul li {flex:1; margin-left:15px; }
.main_quick .main_quick_wrap ul li:first-child {margin-left:0; }
.main_quick .main_quick_wrap a {display:block; height:100%; }
.main_quick .main_quick_wrap a img {width:100%; height:100%; }

.main_customer {width:400px; padding:0 40px 0 20px; }
.main_customer h3 {font-size:16px; font-weight:bold; border-bottom:1px solid #38383a; padding-bottom:20px; }
.main_customer ul {overflow:hidden; }
.main_customer ul li {float:left; }
.main_customer ul li a {display:inline-block; font-size:14px; font-weight:700; text-align:center; }
.main_customer ul li .mypage {width:113px; height:110px; background:url(../img/main/main_mypage_ico.png) no-repeat center 23px; padding-top:80px; }
.main_customer ul li .mypage:hover { color:#ffcc00;}
.main_customer ul li .message {width:113px; height:110px; background:url(../img/main/main_message_ico.png) no-repeat center 23px; padding-top:80px; }
.main_customer ul li .message:hover { color:#ffcc00;}
.main_customer ul li .customer {width:113px; height:110px; background:url(../img/main/main_customer_ico.png) no-repeat center 23px; padding-top:80px; }
.main_customer ul li .customer:hover { color:#ffcc00;}
.main_customer ul li.charging {margin:10px 0 0 0; }
.main_customer ul li.excharge {margin:10px 0 0 10px; }
.main_customer ul li.sns {background:#3277bb; border-radius:20px; margin-top:10px; overflow:hidden; }

.main_content_bot {display:flex; position:relative; overflow:hidden; padding-right:30px; margin-top:20px; }
.main_content_bot > div {float:left; width:33.33%; padding-right:10px; }
.main_content_bot .inner {height:100%; background:#1e1e1e; border-radius:20px; padding:30px 20px; }
.main_content_bot h3 {font-size:16px; font-weight:700; color:#fff; border-bottom:1px solid #38383a; padding-bottom:13px; margin-bottom:20px; }
.main_content_bot p {position:relative; line-height:20px; font-size:0; padding-left:23px; }
.main_content_bot span {display:inline-block; vertical-align:top; }
.main_content_bot ul li {margin-top:12px; }
.main_content_bot ul li:first-child {margin-top:0; }
.main_content_bot .num {position:absolute; top:2px; left:0; width:18px; height:18px; line-height:18px; background:#ffcc00; font-size:12px; font-weight:600; color:#141519; text-align:center; border-radius:100%; }
.main_content_bot .notice_ico {position:absolute; top:2px; left:0; width:17px; height:17px; background:url(../img/main/notice_ico.png) no-repeat left top; background-size:cover;}
.main_content_bot .date {width:30%; font-size:12px; font-weight:600; color:#838385; }
.main_content_bot .id {width:21%; font-size:12px; font-weight:600; color:#fff; }
.main_content_bot .txt {width:100%; font-size:12px; font-weight:600; color:#0a0b0d; }
.main_content_bot .group {width:10%; font-size:12px; font-weight:600; }
.main_content_bot .group.in {color:#4a99e6; }
.main_content_bot .group.out {color:#da2b3c; }
.main_content_bot .amount {width:10%; font-size:12px; font-weight:600; }
.main_content_bot .amount.in {float:right; width:39%; font-size:12px; font-weight:600; color:#4a99e6; text-align:right; }
.main_content_bot .amount.out {float:right; width:39%; font-size:12px; font-weight:600; color:#da2b3c; text-align:right; }
.main_content_bot .amount span {font-weight:700; }
.main_content_bot .none {text-align:center; }
.main_content_bot .none p {font-size:12px; color:#fff; }

/* PC */
@media screen and (min-width:1280px) and (max-width:1600px) { 
/*     .main_board_wrap {padding:0 0 0 5px; }
	    .main_board {width:33.3%; }
	    .main_result {width:33.3%; }
	
	    .main_board .main_notice_list ul li .group {display:none; }
	    .main_board .main_notice_list ul li .txt {width:75%;}
	    .main_board .main_notice_list ul li .id {display:none; }
	    .main_board .main_notice_list ul li .date {width:25%; }
	
	    .main_board .main_board_list ul li .file {display:none; }
	    .main_board .main_board_list ul li .txt {width:75%;}
	    .main_board .main_board_list ul li .id {display:none; }
	    .main_board .main_board_list ul li .date {width:25%; }
	
	.main_result .main_result_list ul li {padding:0 90px 0 130px; }
	    .main_result .main_result_list ul li .group {display:none; }
	    .main_result .main_result_list ul li .txt {width:75%;}
	    .main_result .main_result_list ul li .id {display:none; }
	
	    .main_event {float:left; position:relative; top:inherit; right:inherit; width:33.3%; padding-left:10px; }
	    .main_event .main_event_list {}
	    .main_event .main_event_list ul:after {content:""; display:block; clear:both; }
	    .main_event .main_event_list ul li {float:left; width:50%; }
	    .main_event .main_event_list ul li:nth-child(2) {border-top:0; }
	    .main_event .main_event_list ul li:nth-child(1),
	    .main_event .main_event_list ul li:nth-child(3) {border-right:1px solid #ddd; }
	    .main_event .main_event_list ul li a {height:118.5px; padding:15px 15px 15px 95px; }
	    .main_event .main_event_list ul li .img_area {top:15px; left:15px }
	    .main_event .main_event_list ul li .txt_area .txt {display:none; }
	
	.main_event .none {width:100% !important; height:100%; line-height:80px; background:url(../img/logo_gray.png) no-repeat center 40px; }
	.main_event .none .none_txt {padding-top:80px; } */
}
        

/* TABLET  + Mobile */
@media screen and (max-width:1279px) {
    .main_content_wrap {float:none; width:100%; padding:0 7.5px; }
	.main_visual {height:auto; }
	.main_visual .swiper-container {border-radius:10px; }
	.main_visual .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom:10px; right:10px; }
	.main_visual .swiper-container .swiper-wrapper {height:200px !important; }
	.main_visual .swiper-container .swiper-wrapper .swiper-slide .inner {height:auto; padding:34px 18px; }
	.main_visual .swiper-container .swiper-wrapper .tit {line-height:30px; font-size:34px; }
    .main_visual .swiper-container .swiper-wrapper .tit .txt_b {font-size:34px; line-height:20px; }
	.main_visual .swiper-container .swiper-wrapper .desc {line-height:18px; font-size:14px; margin-top:5px; }
	.main_visual .swiper-container .swiper-wrapper .main_visual_btn {font-size:12px; padding:6px 14px; margin-top:20px; }

	.main_content_mid {display:block; padding-right:0; margin-top:10px; }
	.main_quick {min-height:auto; background:none; padding:0; }
	.main_quick h3 {display:none; }
	.main_quick .swiper-container-multirow-column>.swiper-wrapper {height:187.5px; }
	.main_quick .swiper-slide {height:90px; }
	.main_quick .main_quick_wrap ul {margin-top:5px; }
	.main_quick .main_quick_wrap ul li {margin-left:5px; }
	.main_quick .main_quick_wrap ul li:first-child {margin-left:0; }

	.main_customer {position:relative; top:inherit; right:inherit; width:100%; padding:0; }
	.main_customer h3 {display:none; }
	.main_customer ul li {width:33.33%; height:90px; text-align:center; }
	.main_customer ul li a {width:100%; height:100%; background:#1e1e1e; border-radius:10px; }
	.main_customer ul li a img {max-width:100%; height:100%; }
	.main_customer ul li.charging {padding-right:3.75px; margin:7.5px 0 0; }
	.main_customer ul li.excharge {padding:0 3.75px 0; margin:7.5px 0 0; }
	.main_customer ul li.customer_m {padding-left:3.75px; margin:7.5px 0 0; }
	.main_customer ul li.sns {width:100%; height:65px; border-radius:10px; margin:7.5px 0 0; }
	.main_customer ul li.sns img {width:100%; max-width:360px; height:100%; }

    .main_content_bot {position:inherit; flex-direction:column; padding-right:0; margin-top:15px; }
	.main_content_bot > div {float:none; width:100%; padding-right:0; }
	.main_content_bot .inner {border-radius:10px; padding:12px 15px 18px; }
	.main_content_bot h3 {font-size:14px; padding-bottom:6px; margin-bottom:15px; }
	.main_content_bot ul li {margin-top:8px; }

	.tab {overflow:hidden; }
	.tab button {width:50%; height:40px; background:#121212; float:left; border:none; outline:none; cursor:pointer; transition:0.3s; font-size:14px; font-weight:700; color:#fff; border-radius:10px 10px 0 0; padding-left:1px; }
	.tab button:first-child {padding-left:0; padding-right:1px; }
	.tab button.active {color:#fff; background:#1e1e1e; }
	.tabcontent {display:none; background:#1e1e1e; border-radius:0 0 10px 10px; padding:15px 15px 18px; }
	#main_best_m {display:block; }
	.main_notice {margin-top:7.5px; }

    .main_board_wrap {padding:5px 5px 0; margin-top:0; }
    .main_real_m {display:block; width:100%; }
    .main_real_m .main_real_list {margin-top:0; }
    .main_real_m .main_real_list ul li {position:relative; height:30px; line-height:30px; background:#fff; border-radius:0px; padding:0 7.5px; margin-top:0; border: 1px solid #dddddd; border-top: 0; }
    .main_real_m .main_real_list ul li:first-child {margin-top:0; }
    .main_real_m .main_real_list ul li:after {content:""; display:block; clear:both; }
    .main_real_m .main_real_list ul li p {float:left; }
    .main_real_m .main_real_list ul li .date {display:inline-block; width:40%; font-size:12px; color:#aaaaaa; }
    .main_real_m .main_real_list ul li .group {display:inline-block; width:25%; font-size:12px; text-align:center; color:#989898; }
    .main_real_m .main_real_list ul li .group.in {color:#569135; }
    .main_real_m .main_real_list ul li .group.out {color:#d43301; }
    .main_real_m .main_real_list ul li .amount {display:inline-block; width:35%; font-size:12px; font-weight:700; text-align:right; color:#d43301; backface-visibility:hidden; }

    .main_board {float:none; width:100%; padding:0; margin-top:5px; }
    .main_result {float:none; width:100%; padding:0; margin-top:5px; }

    .main_board .main_notice_list {margin-top:1px; }
    .main_board .main_notice_list ul li {height:30px; line-height:30px; padding:0 7.5px; margin-top:0; }
    .main_board .main_notice_list ul li .group {display:none; }
    .main_board .main_notice_list ul li .txt {width:75%;}
    .main_board .main_notice_list ul li .txt .new_ico {top:7px; }
    .main_board .main_notice_list ul li .id {display:none; }
    .main_board .main_notice_list ul li .date {width:25%; }

    .main_board .main_board_list {margin-top:1px; }
    .main_board .main_board_list ul li {height:30px; line-height:30px; padding:0 7.5px; margin-top:1px; }
    .main_board .main_board_list ul li .file {display:none; }
    .main_board .main_board_list ul li .txt {width:75%;}
    .main_board .main_board_list ul li .id {display:none; }
    .main_board .main_board_list ul li .date {width:25%; }

    .main_result .main_result_list {margin-top:1px; }
    .main_result .main_result_list ul li {height:30px; line-height:30px; }
	.main_result .main_result_list ul li .ab_left {left:7.5px; line-height:30px; }
	.main_result .main_result_list ul li .ab_con {line-height:30px; }
	.main_result .main_result_list ul li .ab_right {right:7.5px; line-height:30px; }
	.main_result .none {line-height:30px; }

    .main_event {position:relative; top:inherit; right:inherit; width:100%; padding:0; margin-top:5px; }
    .main_event h3 {background:#f5f5f5 url(../img/main/main_event_m_ico.png) no-repeat 7.5px center; background-size:14px 15px; }
    .main_event .main_event_list {height:auto; }
    .main_event .main_event_list ul li {width:100%; }
    .main_event .main_event_list ul li a {width:100%; height:70px; padding:10px 0 0 110px; }
    .main_event .main_event_list ul li:last-child a {height:70px; }
    .main_event .main_event_list ul li .img_area {top:10px; left:10px; width:90px; height:50px; }
    .main_event .main_event_list ul li .img_area img {width:100%; }
    .main_event .main_event_list ul li .txt_area .tit {font-size:12px; }
    .main_event .main_event_list ul li .txt_area .txt {line-height:15px; height:28px; margin-top:7px; }

	.main_event .none {width:100% !important; line-height:40px ; }
	.main_event .none .none_txt {padding-top:80px; }
}