

:root {
  --main-bg-color: #252c47;
  --bar-bg-color:  #10163a;
  --bar-font-color: #bec2d8;
}




.login-modal-container{
	display: table-cell;
	vertical-align: middle;
}


.login-modal-panel{
	margin: auto;	
	max-width: 420px;
	background-color: var(--bar-bg-color);
	color: var(--bar-font-color);
	padding: 20px 20px 80px 20px;
}

.login-modal-panel h4{
	font-size: 18px;
	margin-bottom: 20px;
	color: white;
}

.login-modal-panel p{
	font-size: 16px;
	margin-bottom: 20px;

}

.login-modal-panel input{
	width:100%;
	background-color: var(--main-bg-color);
	padding: 10px;
	font-size: 14px;
	margin-bottom: 20px;
	color: white;
	border-width: 0px; 
}

.login-register-a{
	float: left;
	border: 1px solid #d2be00;
	border-radius: 5px;
	padding: 10px 20px;
	color: #d2be00;
	margin-top: 20px;
}

.login-ok-button{
	float: right;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #d2be00;
	color: white;
	margin-top: 20px;
}
