@charset "utf-8";
/* FED */

/*============================
	테마01
============================*/
.theme01 .cross {background:url(../img/theme/theme01/cross.png) no-repeat; }
.theme01 .special {background:url(../img/theme/theme01/special.png) no-repeat; }
.theme01 .inplay {background:url(../img/theme/theme01/inplay.png) no-repeat; }
.theme01 .live {background:url(../img/theme/theme01/live.png) no-repeat; }
.theme01 .nmd {background:url(../img/theme/theme01/nmd.png) no-repeat; }
.theme01 .mgm {background:url(../img/theme/theme01/mgm.png) no-repeat; }
.theme01 .lotus {background:url(../img/theme/theme01/lotus.png) no-repeat; }
.theme01 .bdg {background:url(../img/theme/theme01/bdg.png) no-repeat; }
.theme01 .pwl {background:url(../img/theme/theme01/pwl.png) no-repeat; }
.theme01 .sco {background:url(../img/theme/theme01/sco.png) no-repeat; }
.theme01 .scoregame {background:url(../img/theme/theme01/scoregame.png) no-repeat; }
.theme01 .dhl {background:url(../img/theme/theme01/dhl.png) no-repeat; }
.theme01 .fx {background:url(../img/theme/theme01/fx.png) no-repeat; }
.theme01 .beteast {background:url(../img/theme/theme01/beteast.png) no-repeat; }
.theme01 .tkn {background:url(../img/theme/theme01/tkn.png) no-repeat; }
.theme01 .eos {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .epl1 {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .epl2 {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .epl3 {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .epl4 {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .epl5 {background:url(../img/theme/theme01/eos.png) no-repeat; }
.theme01 .evl {background:url(../img/theme/theme01/evl.png) no-repeat; }
.theme01 .hoc {background:url(../img/theme/theme01/hoc.png) no-repeat; }

.theme01 .all_game {background:url(../img/theme/theme01/all_game.png) no-repeat; }
.theme01 .fbl {background:url(../img/theme/theme01/fbl.png) no-repeat; }
.theme01 .bkl {background:url(../img/theme/theme01/bkl.png) no-repeat; }
.theme01 .bbl {background:url(../img/theme/theme01/bbl.png) no-repeat; }
.theme01 .vbl {background:url(../img/theme/theme01/vbl.png) no-repeat; }
.theme01 .afl {background:url(../img/theme/theme01/afl.png) no-repeat; }
.theme01 .ihl {background:url(../img/theme/theme01/ihl.png) no-repeat; }
.theme01 .hbl {background:url(../img/theme/theme01/hbl.png) no-repeat; }
.theme01 .lol {background:url(../img/theme/theme01/lol.png) no-repeat; }
.theme01 .etl {background:url(../img/theme/theme01/etl.png) no-repeat; }
.theme01 .tbt {background:url(../img/theme/theme01/tbt.png) no-repeat; }
.theme01 .esp {background:url(../img/theme/theme01/esp.png) no-repeat; }
.theme01 .ufc {background:url(../img/theme/theme01/ufc.png) no-repeat; }
.theme01 .scl {background:url(../img/theme/theme01/scl.png) no-repeat; }

.theme01 .nsl {background:url(../img/theme/theme01/nsl.png) no-repeat; }
.theme01 .nil {background:url(../img/theme/theme01/nil.png) no-repeat; }
.theme01 .ndl {background:url(../img/theme/theme01/ndl.png) no-repeat; }
.theme01 .mol {background:url(../img/theme/theme01/mol.png) no-repeat; }
.theme01 .mbl {background:url(../img/theme/theme01/mbl.png) no-repeat; }
.theme01 .bsl {background:url(../img/theme/theme01/bsl.png) no-repeat; }
.theme01 .bdl {background:url(../img/theme/theme01/bdl.png) no-repeat; }
.theme01 .bhl {background:url(../img/theme/theme01/bhl.png) no-repeat; }
.theme01 .tol {background:url(../img/theme/theme01/tol.png) no-repeat; }
.theme01 .tbl {background:url(../img/theme/theme01/tbl.png) no-repeat; }
.theme01 .npl {background:url(../img/theme/theme01/npl.png) no-repeat; }
.theme01 .nll {background:url(../img/theme/theme01/nll.png) no-repeat; }
.theme01 .nkl {background:url(../img/theme/theme01/nkl.png) no-repeat; }
.theme01 .sbl {background:url(../img/theme/theme01/sbl.png) no-repeat; }
.theme01 .ssl {background:url(../img/theme/theme01/ssl.png) no-repeat; }
.theme01 .sdl {background:url(../img/theme/theme01/sdl.png) no-repeat; }
.theme01 .stl {background:url(../img/theme/theme01/stl.png) no-repeat; }
.theme01 .bes {background:url(../img/theme/theme01/bes.png) no-repeat; }
.theme01 .bek {background:url(../img/theme/theme01/bek.png) no-repeat; }
.theme01 .beb {background:url(../img/theme/theme01/beb.png) no-repeat; }
.theme01 .bck {background:url(../img/theme/theme01/bck.png) no-repeat; }
.theme01 .efx1 {background:url(../img/theme/theme01/efx1.png) no-repeat; }
.theme01 .efx2 {background:url(../img/theme/theme01/efx2.png) no-repeat; }
.theme01 .efx3 {background:url(../img/theme/theme01/efx3.png) no-repeat; }
.theme01 .efx4 {background:url(../img/theme/theme01/efx4.png) no-repeat; }
.theme01 .efx5 {background:url(../img/theme/theme01/efx5.png) no-repeat; }
.theme01 .npb {background:url(../img/theme/theme01/npb.png) no-repeat; }
.theme01 .mine {background:url(../img/theme/theme01/mine.png) no-repeat; }
.theme01 .dpl {background:url(../img/theme/theme01/dpl.png) no-repeat; }
.theme01 .dpl6 {background:url(../img/theme/theme01/dpl6.png) no-repeat; }
.theme01 .mpl {background:url(../img/theme/theme01/mgame.png) no-repeat; }
.theme01 .msl {background:url(../img/theme/theme01/mgame.png) no-repeat; }
.theme01 .mdc {background:url(../img/theme/theme01/mgame.png) no-repeat; }
.theme01 .mrc {background:url(../img/theme/theme01/mgame.png) no-repeat; }
.theme01 .hsl {background:url(../img/theme/theme01/hgame.png) no-repeat; }
.theme01 .hud {background:url(../img/theme/theme01/hgame.png) no-repeat; }
.theme01 .hpl {background:url(../img/theme/theme01/hgame.png) no-repeat; }
.theme01 .slg {background:url(../img/theme/theme01/slg.png) no-repeat; }
.theme01 .mpl.style02 {background:url(../img/theme/theme01/mgame02.png) no-repeat; }
.theme01 .msl.style02 {background:url(../img/theme/theme01/mgame02.png) no-repeat; }
.theme01 .mdc.style02 {background:url(../img/theme/theme01/mgame02.png) no-repeat; }
.theme01 .mrc.style02 {background:url(../img/theme/theme01/mgame02.png) no-repeat; }
.theme01 .hsl.style02 {background:url(../img/theme/theme01/hgame02.png) no-repeat; }
.theme01 .hud.style02 {background:url(../img/theme/theme01/hgame02.png) no-repeat; }
.theme01 .hpl.style02 {background:url(../img/theme/theme01/hgame02.png) no-repeat; }

/*============================
	테마02
============================*/
.theme02 .cross {background:url(../img/theme/theme02/cross.png) no-repeat; }
.theme02 .special {background:url(../img/theme/theme02/special.png) no-repeat; }
.theme02 .inplay {background:url(../img/theme/theme02/inplay.png) no-repeat; }
.theme02 .live {background:url(../img/theme/theme02/live.png) no-repeat; }
.theme02 .nmd {background:url(../img/theme/theme02/nmd.png) no-repeat; }
.theme02 .mgm {background:url(../img/theme/theme02/mgm.png) no-repeat; }
.theme02 .lotus {background:url(../img/theme/theme02/lotus.png) no-repeat; }
.theme02 .bdg {background:url(../img/theme/theme02/bdg.png) no-repeat; }
.theme02 .pwl {background:url(../img/theme/theme02/pwl.png) no-repeat; }
.theme02 .sco {background:url(../img/theme/theme02/sco.png) no-repeat; }
.theme02 .scoregame {background:url(../img/theme/theme02/scoregame.png) no-repeat; }
.theme02 .dhl {background:url(../img/theme/theme02/dhl.png) no-repeat; }
.theme02 .fx {background:url(../img/theme/theme02/fx.png) no-repeat; }
.theme02 .beteast {background:url(../img/theme/theme02/beteast.png) no-repeat; }
.theme02 .tkn {background:url(../img/theme/theme02/tkn.png) no-repeat; }
.theme02 .eos {background:url(../img/theme/theme02/eos.png) no-repeat; }
.theme02 .evl {background:url(../img/theme/theme02/evl.png) no-repeat; }
.theme02 .hoc {background:url(../img/theme/theme02/hoc.png) no-repeat; }

.theme02 .all_game {background:url(../img/theme/theme02/all_game.png) no-repeat; }
.theme02 .fbl {background:url(../img/theme/theme02/fbl.png) no-repeat; }
.theme02 .bkl {background:url(../img/theme/theme02/bkl.png) no-repeat; }
.theme02 .bbl {background:url(../img/theme/theme02/bbl.png) no-repeat; }
.theme02 .vbl {background:url(../img/theme/theme02/vbl.png) no-repeat; }
.theme02 .afl {background:url(../img/theme/theme02/afl.png) no-repeat; }
.theme02 .ihl {background:url(../img/theme/theme02/ihl.png) no-repeat; }
.theme02 .hbl {background:url(../img/theme/theme02/hbl.png) no-repeat; }
.theme02 .lol {background:url(../img/theme/theme02/lol.png) no-repeat; }
.theme02 .etl {background:url(../img/theme/theme02/etl.png) no-repeat; }
.theme02 .tbt {background:url(../img/theme/theme02/tbt.png) no-repeat; }
.theme02 .esp {background:url(../img/theme/theme02/esp.png) no-repeat; }
.theme02 .ufc {background:url(../img/theme/theme02/ufc.png) no-repeat; }
.theme02 .scl {background:url(../img/theme/theme02/scl.png) no-repeat; }

.theme02 .nsl {background:url(../img/theme/theme02/nsl.png) no-repeat; }
.theme02 .nil {background:url(../img/theme/theme02/nil.png) no-repeat; }
.theme02 .ndl {background:url(../img/theme/theme02/ndl.png) no-repeat; }
.theme02 .mol {background:url(../img/theme/theme02/mol.png) no-repeat; }
.theme02 .mbl {background:url(../img/theme/theme02/mbl.png) no-repeat; }
.theme02 .bsl {background:url(../img/theme/theme02/bsl.png) no-repeat; }
.theme02 .bdl {background:url(../img/theme/theme02/bdl.png) no-repeat; }
.theme02 .bhl {background:url(../img/theme/theme02/bhl.png) no-repeat; }
.theme02 .tol {background:url(../img/theme/theme02/tol.png) no-repeat; }
.theme02 .tbl {background:url(../img/theme/theme02/tbl.png) no-repeat; }
.theme02 .npl {background:url(../img/theme/theme02/npl.png) no-repeat; }
.theme02 .nll {background:url(../img/theme/theme02/nll.png) no-repeat; }
.theme02 .nkl {background:url(../img/theme/theme02/nkl.png) no-repeat; }
.theme02 .sbl {background:url(../img/theme/theme02/sbl.png) no-repeat; }
.theme02 .ssl {background:url(../img/theme/theme02/ssl.png) no-repeat; }
.theme02 .sdl {background:url(../img/theme/theme02/sdl.png) no-repeat; }
.theme02 .stl {background:url(../img/theme/theme02/stl.png) no-repeat; }
.theme02 .bes {background:url(../img/theme/theme02/bes.png) no-repeat; }
.theme02 .bek {background:url(../img/theme/theme02/bek.png) no-repeat; }
.theme02 .beb {background:url(../img/theme/theme02/beb.png) no-repeat; }
.theme02 .bck {background:url(../img/theme/theme02/bck.png) no-repeat; }
.theme02 .efx1 {background:url(../img/theme/theme02/efx1.png) no-repeat; }
.theme02 .efx2 {background:url(../img/theme/theme02/efx2.png) no-repeat; }
.theme02 .efx3 {background:url(../img/theme/theme02/efx3.png) no-repeat; }
.theme02 .efx4 {background:url(../img/theme/theme02/efx4.png) no-repeat; }
.theme02 .efx5 {background:url(../img/theme/theme02/efx5.png) no-repeat; }
.theme02 .npb {background:url(../img/theme/theme02/npb.png) no-repeat; }
.theme02 .mine {background:url(../img/theme/theme02/mine.png) no-repeat; }
.theme02 .dpl {background:url(../img/theme/theme02/dpl.png) no-repeat; }
.theme02 .dpl6 {background:url(../img/theme/theme02/dpl6.png) no-repeat; }


/*============================
	슬롯게임
============================*/
.main_slot_list ul li {position:relative; flex:1; }
.main_slot_list ul li:after {position:absolute; bottom:3px; left:50%; content:"게임시작하기"; width:60%; height:18%; font-size:17px; font-weight:800; font-style:italic; text-align:center; border-radius:20px 20px 0 0; transform:translateX(-50%); padding-top:4.5%; cursor:pointer; }
.main_slot_list ul li.none:after {content:"준비중"; background:#4c4c4c; color:#fff; }
.main_slot_list ul li.none {pointer-events:none; }

.main_slot_list_m ul li {position:relative; flex:1; }
.main_slot_list_m ul li:after {position:absolute; bottom:3px; left:50%; content:"게임시작"; width:70px; height:15px; line-height:15px; font-size:12px; font-weight:800; font-style:italic; text-align:center; border-radius:10px 10px 0 0; transform:translateX(-50%); cursor:pointer; }
.main_slot_list_m ul li.none:after {content:"준비중"; background:#4c4c4c; color:#fff; }
.main_slot_list_m ul li.none {pointer-events:none; }

.lnb .pragmaticplay {background:url(../img/theme/slot/lnb/pragmaticplay.png) no-repeat; }
.lnb .habanero {background:url(../img/theme/slot/lnb/habanero.png) no-repeat; }
.lnb .spadegaming {background:url(../img/theme/slot/lnb/spadegaming.png) no-repeat; }
.lnb .playngo {background:url(../img/theme/slot/lnb/playngo.png) no-repeat; }
.lnb .maverick {background:url(../img/theme/slot/lnb/maverick.png) no-repeat; }
.lnb .quickspin {background:url(../img/theme/slot/lnb/quickspin.png) no-repeat; }
.lnb .worldmatch {background:url(../img/theme/slot/lnb/worldmatch.png) no-repeat; }
.lnb .microgaming {background:url(../img/theme/slot/lnb/microgaming.png) no-repeat; }
.lnb .netent {background:url(../img/theme/slot/lnb/netent.png) no-repeat; }
.lnb .redtiger {background:url(../img/theme/slot/lnb/redtiger.png) no-repeat; }
.lnb .ylgaming {background:url(../img/theme/slot/lnb/ylgaming.png) no-repeat; }
.lnb .yggdrasil {background:url(../img/theme/slot/lnb/yggdrasil.png) no-repeat; }
.lnb .dragoonsoft {background:url(../img/theme/slot/lnb/dragoonsoft.png) no-repeat; }
.lnb .booongo {background:url(../img/theme/slot/lnb/booongo.png) no-repeat; }
.lnb .bbtech {background:url(../img/theme/slot/lnb/bbtech.png) no-repeat; }
.lnb .isoftbet {background:url(../img/theme/slot/lnb/isoftbet.png) no-repeat; }
.lnb .pgsoft {background:url(../img/theme/slot/lnb/pgsoft.png) no-repeat; }
.lnb .bbin {background:url(../img/theme/slot/lnb/bbin.png) no-repeat; }
.lnb .rtg {background:url(../img/theme/slot/lnb/rtg.png) no-repeat; }
.lnb .cq9 {background:url(../img/theme/slot/lnb/cq9.png) no-repeat; }
.lnb .playstar {background:url(../img/theme/slot/lnb/playstar.png) no-repeat; }
.lnb .gameart {background:url(../img/theme/slot/lnb/gameart.png) no-repeat; }
.lnb .ttg {background:url(../img/theme/slot/lnb/ttg.png) no-repeat; }
.lnb .genesis {background:url(../img/theme/slot/lnb/genesis.png) no-repeat; }
.lnb .tpg {background:url(../img/theme/slot/lnb/tpg.png) no-repeat; }
.lnb .bgaming {background:url(../img/theme/slot/lnb/bgaming.png) no-repeat; }
.lnb .evoplay {background:url(../img/theme/slot/lnb/evoplay.png) no-repeat; }
.lnb .dreamtech {background:url(../img/theme/slot/lnb/dreamtech.png) no-repeat; }
.lnb .agnew {background:url(../img/theme/slot/lnb/agnew.png) no-repeat; }
.lnb .stargame {background:url(../img/theme/slot/lnb/stargame.png) no-repeat; }
.lnb .theshow {background:url(../img/theme/slot/lnb/theshow.png) no-repeat; }
.lnb .playson {background:url(../img/theme/slot/lnb/playson.png) no-repeat; }

.slot_white .all_game_list {background:#fff;}
.slot_white .all_game_list .all_game_list_left ul li {background:#fff; border:1px solid #e5e5e5; }
.slot_white .all_game_list .all_game_list_left ul li.on {border:1px solid #ffcc00; }
.slot_white .all_game_list_m ul li {background:#fff; border:1px solid #e5e5e5; }
.slot_white .all_game_list_m ul li.on {border:1px solid #ffcc00; }

.slot_black .all_game_list {background:#0a0b0d;}
.slot_black .all_game_list .all_game_list_left ul li {background:#161719; border:1px solid #232426; }
.slot_black .all_game_list .all_game_list_left ul li.on {border:1px solid #ffcc00; }
.slot_black .all_game_list_m ul li {background:#161719; border:1px solid #232426; }
.slot_black .all_game_list_m ul li.on {border:1px solid #ffcc00; }

.slot_white .all_game_list_left .pragmaticplay {background:url(../img/theme/slot/tab/white/pragmaticplay.png) no-repeat; }
.slot_white .all_game_list_left .pragmaticplay.on,
.slot_white .all_game_list_left .pragmaticplay:hover {background:url(../img/theme/slot/tab/white/pragmaticplay_on.png) no-repeat; }
.slot_white .all_game_list_left .habanero {background:url(../img/theme/slot/tab/white/habanero.png) no-repeat; }
.slot_white .all_game_list_left .habanero.on,
.slot_white .all_game_list_left .habanero:hover {background:url(../img/theme/slot/tab/white/habanero_on.png) no-repeat; }
.slot_white .all_game_list_left .spadegaming {background:url(../img/theme/slot/tab/white/spadegaming.png) no-repeat; }
.slot_white .all_game_list_left .spadegaming.on,
.slot_white .all_game_list_left .spadegaming:hover {background:url(../img/theme/slot/tab/white/spadegaming_on.png) no-repeat; }
.slot_white .all_game_list_left .playngo {background:url(../img/theme/slot/tab/white/playngo.png) no-repeat; }
.slot_white .all_game_list_left .playngo.on,
.slot_white .all_game_list_left .playngo:hover {background:url(../img/theme/slot/tab/white/playngo_on.png) no-repeat; }
.slot_white .all_game_list_left .maverick {background:url(../img/theme/slot/tab/white/maverick.png) no-repeat; }
.slot_white .all_game_list_left .maverick.on,
.slot_white .all_game_list_left .maverick:hover {background:url(../img/theme/slot/tab/white/maverick_on.png) no-repeat; }
.slot_white .all_game_list_left .quickspin {background:url(../img/theme/slot/tab/white/quickspin.png) no-repeat; }
.slot_white .all_game_list_left .quickspin.on,
.slot_white .all_game_list_left .quickspin:hover {background:url(../img/theme/slot/tab/white/quickspin_on.png) no-repeat; }
.slot_white .all_game_list_left .worldmatch {background:url(../img/theme/slot/tab/white/worldmatch.png) no-repeat; }
.slot_white .all_game_list_left .worldmatch.on,
.slot_white .all_game_list_left .worldmatch:hover {background:url(../img/theme/slot/tab/white/worldmatch_on.png) no-repeat; }
.slot_white .all_game_list_left .microgaming {background:url(../img/theme/slot/tab/white/microgaming.png) no-repeat; }
.slot_white .all_game_list_left .microgaming.on,
.slot_white .all_game_list_left .microgaming:hover {background:url(../img/theme/slot/tab/white/microgaming_on.png) no-repeat; }
.slot_white .all_game_list_left .netent {background:url(../img/theme/slot/tab/white/netent.png) no-repeat; }
.slot_white .all_game_list_left .netent.on,
.slot_white .all_game_list_left .netent:hover {background:url(../img/theme/slot/tab/white/netent_on.png) no-repeat; }
.slot_white .all_game_list_left .redtiger {background:url(../img/theme/slot/tab/white/redtiger.png) no-repeat; }
.slot_white .all_game_list_left .redtiger.on,
.slot_white .all_game_list_left .redtiger:hover {background:url(../img/theme/slot/tab/white/redtiger_on.png) no-repeat; }
.slot_white .all_game_list_left .ylgaming {background:url(../img/theme/slot/tab/white/ylgaming.png) no-repeat; }
.slot_white .all_game_list_left .ylgaming.on, 
.slot_white .all_game_list_left .ylgaming:hover {background:url(../img/theme/slot/tab/white/ylgaming_on.png) no-repeat; }
.slot_white .all_game_list_left .yggdrasil {background:url(../img/theme/slot/tab/white/yggdrasil.png) no-repeat; }
.slot_white .all_game_list_left .yggdrasil.on,
.slot_white .all_game_list_left .yggdrasil:hover {background:url(../img/theme/slot/tab/white/yggdrasil_on.png) no-repeat; }
.slot_white .all_game_list_left .dragoonsoft {background:url(../img/theme/slot/tab/white/dragoonsoft.png) no-repeat; }
.slot_white .all_game_list_left .dragoonsoft.on,
.slot_white .all_game_list_left .dragoonsoft:hover {background:url(../img/theme/slot/tab/white/dragoonsoft_on.png) no-repeat; }
.slot_white .all_game_list_left .booongo {background:url(../img/theme/slot/tab/white/booongo.png) no-repeat; }
.slot_white .all_game_list_left .booongo.on, 
.slot_white .all_game_list_left .booongo:hover {background:url(../img/theme/slot/tab/white/booongo_on.png) no-repeat; }
.slot_white .all_game_list_left .playson {background:url(../img/theme/slot/tab/white/playson.png) no-repeat; }
.slot_white .all_game_list_left .playson.on,
.slot_white .all_game_list_left .playson:hover {background:url(../img/theme/slot/tab/white/playson_on.png) no-repeat; }
.slot_white .all_game_list_left .bbtech {background:url(../img/theme/slot/tab/white/bbtech.png) no-repeat; }
.slot_white .all_game_list_left .bbtech.on,
.slot_white .all_game_list_left .bbtech:hover {background:url(../img/theme/slot/tab/white/bbtech_on.png) no-repeat; }
.slot_white .all_game_list_left .isoftbet {background:url(../img/theme/slot/tab/white/isoftbet.png) no-repeat; }
.slot_white .all_game_list_left .isoftbet.on,
.slot_white .all_game_list_left .isoftbet:hover {background:url(../img/theme/slot/tab/white/isoftbet_on.png) no-repeat; }
.slot_white .all_game_list_left .pgsoft {background:url(../img/theme/slot/tab/white/pgsoft.png) no-repeat; }
.slot_white .all_game_list_left .pgsoft.on,
.slot_white .all_game_list_left .pgsoft:hover {background:url(../img/theme/slot/tab/white/pgsoft_on.png) no-repeat; }
.slot_white .all_game_list_left .bbin {background:url(../img/theme/slot/tab/white/bbin.png) no-repeat; }
.slot_white .all_game_list_left .bbin.on,
.slot_white .all_game_list_left .bbin:hover {background:url(../img/theme/slot/tab/white/bbin_on.png) no-repeat; }
.slot_white .all_game_list_left .rtg {background:url(../img/theme/slot/tab/white/rtg.png) no-repeat; }
.slot_white .all_game_list_left .rtg.on,
.slot_white .all_game_list_left .rtg:hover {background:url(../img/theme/slot/tab/white/rtg_on.png) no-repeat; }
.slot_white .all_game_list_left .cq9 {background:url(../img/theme/slot/tab/white/cq9.png) no-repeat; }
.slot_white .all_game_list_left .cq9.on,
.slot_white .all_game_list_left .cq9:hover {background:url(../img/theme/slot/tab/white/cq9_on.png) no-repeat; }
.slot_white .all_game_list_left .playstar {background:url(../img/theme/slot/tab/white/playstar.png) no-repeat; }
.slot_white .all_game_list_left .playstar.on,
.slot_white .all_game_list_left .playstar:hover {background:url(../img/theme/slot/tab/white/playstar_on.png) no-repeat; }
.slot_white .all_game_list_left .gameart {background:url(../img/theme/slot/tab/white/gameart.png) no-repeat; }
.slot_white .all_game_list_left .gameart.on,
.slot_white .all_game_list_left .gameart:hover {background:url(../img/theme/slot/tab/white/gameart_on.png) no-repeat; }
.slot_white .all_game_list_left .ttg {background:url(../img/theme/slot/tab/white/ttg.png) no-repeat; }
.slot_white .all_game_list_left .ttg.on,
.slot_white .all_game_list_left .ttg:hover {background:url(../img/theme/slot/tab/white/ttg_on.png) no-repeat; }
.slot_white .all_game_list_left .genesis {background:url(../img/theme/slot/tab/white/genesis.png) no-repeat; }
.slot_white .all_game_list_left .genesis.on,
.slot_white .all_game_list_left .genesis:hover {background:url(../img/theme/slot/tab/white/genesis_on.png) no-repeat; }
.slot_white .all_game_list_left .tpg {background:url(../img/theme/slot/tab/white/tpg.png) no-repeat; }
.slot_white .all_game_list_left .tpg.on,
.slot_white .all_game_list_left .tpg:hover {background:url(../img/theme/slot/tab/white/tpg_on.png) no-repeat; }
.slot_white .all_game_list_left .bgaming {background:url(../img/theme/slot/tab/white/bgaming.png) no-repeat; }
.slot_white .all_game_list_left .bgaming.on,
.slot_white .all_game_list_left .bgaming:hover {background:url(../img/theme/slot/tab/white/bgaming_on.png) no-repeat; }
.slot_white .all_game_list_left .evoplay {background:url(../img/theme/slot/tab/white/evoplay.png) no-repeat; }
.slot_white .all_game_list_left .evoplay.on,
.slot_white .all_game_list_left .evoplay:hover {background:url(../img/theme/slot/tab/white/evoplay_on.png) no-repeat; }
.slot_white .all_game_list_left .dreamtech {background:url(../img/theme/slot/tab/white/dreamtech.png) no-repeat; }
.slot_white .all_game_list_left .dreamtech.on,
.slot_white .all_game_list_left .dreamtech:hover {background:url(../img/theme/slot/tab/white/dreamtech_on.png) no-repeat; }
.slot_white .all_game_list_left .agnew {background:url(../img/theme/slot/tab/white/agnew.png) no-repeat; }
.slot_white .all_game_list_left .agnew.on,
.slot_white .all_game_list_left .agnew:hover {background:url(../img/theme/slot/tab/white/agnew_on.png) no-repeat; }
.slot_white .all_game_list_left .stargame {background:url(../img/theme/slot/tab/white/stargame.png) no-repeat; }
.slot_white .all_game_list_left .stargame.on,
.slot_white .all_game_list_left .stargame:hover {background:url(../img/theme/slot/tab/white/stargame_on.png) no-repeat; }
.slot_white .all_game_list_left .theshow {background:url(../img/theme/slot/tab/white/theshow.png) no-repeat; }
.slot_white .all_game_list_left .theshow.on,
.slot_white .all_game_list_left .theshow:hover {background:url(../img/theme/slot/tab/white/theshow_on.png) no-repeat; }


.slot_white .all_game_list_m .pragmaticplay {width:93px; background:url(../img/theme/slot/tab/white/pragmaticplay_m.png) no-repeat; background-size:93px 40px; }
.slot_white .all_game_list_m .pragmaticplay.on {background:url(../img/theme/slot/tab/white/pragmaticplay_m_on.png) no-repeat; background-size:93px 40px; }
.slot_white .all_game_list_m .habanero {width:90px; background:url(../img/theme/slot/tab/white/habanero_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .habanero.on {background:url(../img/theme/slot/tab/white/habanero_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .spadegaming {width:90px; background:url(../img/theme/slot/tab/white/spadegaming_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .spadegaming.on {background:url(../img/theme/slot/tab/white/spadegaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .playngo {width:73.5px; background:url(../img/theme/slot/tab/white/playngo_m.png) no-repeat; background-size:73.5px 20px; }
.slot_white .all_game_list_m .playngo.on {background:url(../img/theme/slot/tab/white/playngo_m_on.png) no-repeat; background-size:73.5px 20px; }
.slot_white .all_game_list_m .maverick {width:68.5px; background:url(../img/theme/slot/tab/white/maverick_m.png) no-repeat; background-size:68.5px 20px; }
.slot_white .all_game_list_m .maverick.on {background:url(../img/theme/slot/tab/white/maverick_m_on.png) no-repeat; background-size:68.5px 20px; }
.slot_white .all_game_list_m .quickspin {width:82.5px; background:url(../img/theme/slot/tab/white/quickspin_m.png) no-repeat; background-size:82.5px 20px; }
.slot_white .all_game_list_m .quickspin.on {background:url(../img/theme/slot/tab/white/quickspin_m_on.png) no-repeat; background-size:82.5px 20px; }
.slot_white .all_game_list_m .worldmatch {width:47px; background:url(../img/theme/slot/tab/white/worldmatch_m.png) no-repeat; background-size:47px 20px; }
.slot_white .all_game_list_m .worldmatch.on {background:url(../img/theme/slot/tab/white/worldmatch_m_on.png) no-repeat; background-size:47px 20px; }
.slot_white .all_game_list_m .microgaming {width:90px; background:url(../img/theme/slot/tab/white/microgaming_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .microgaming.on {background:url(../img/theme/slot/tab/white/microgaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .netent {width:57px; background:url(../img/theme/slot/tab/white/netent_m.png) no-repeat; background-size:57px 20px; }
.slot_white .all_game_list_m .netent.on {background:url(../img/theme/slot/tab/white/netent_m_on.png) no-repeat; background-size:57px 20px; }
.slot_white .all_game_list_m .redtiger {width:90px; background:url(../img/theme/slot/tab/white/redtiger_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .redtiger.on {background:url(../img/theme/slot/tab/white/redtiger_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .ylgaming {width:81.5px; background:url(../img/theme/slot/tab/white/ylgaming_m.png) no-repeat; background-size:81.5px 20px; }
.slot_white .all_game_list_m .ylgaming.on {background:url(../img/theme/slot/tab/white/ylgaming_m_on.png) no-repeat; background-size:81.5px 20px; }
.slot_white .all_game_list_m .yggdrasil {width:90px; background:url(../img/theme/slot/tab/white/yggdrasil_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .yggdrasil.on {background:url(../img/theme/slot/tab/white/yggdrasil_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .dragoonsoft {width:90px; background:url(../img/theme/slot/tab/white/dragoonsoft_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .dragoonsoft.on {background:url(../img/theme/slot/tab/white/dragoonsoft_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .booongo {width:84.5px; background:url(../img/theme/slot/tab/white/booongo_m.png) no-repeat; background-size:84.5px 20px; }
.slot_white .all_game_list_m .booongo.on {background:url(../img/theme/slot/tab/white/booongo_m_on.png) no-repeat; background-size:84.5px 20px; }
.slot_white .all_game_list_m .playson {width:90px; background:url(../img/theme/slot/tab/white/playson_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .playson.on {background:url(../img/theme/slot/tab/white/playson_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bbtech {width:90px; background:url(../img/theme/slot/tab/white/bbtech_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bbtech.on {background:url(../img/theme/slot/tab/white/bbtech_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .isoftbet {width:90px; background:url(../img/theme/slot/tab/white/isoftbet_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .isoftbet.on {background:url(../img/theme/slot/tab/white/isoftbet_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .pgsoft {width:90px; background:url(../img/theme/slot/tab/white/pgsoft_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .pgsoft.on {background:url(../img/theme/slot/tab/white/pgsoft_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bbin {width:90px; background:url(../img/theme/slot/tab/white/bbin_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bbin.on {background:url(../img/theme/slot/tab/white/bbin_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .rtg {width:90px; background:url(../img/theme/slot/tab/white/rtg_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .rtg.on {background:url(../img/theme/slot/tab/white/rtg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .cq9 {width:90px; background:url(../img/theme/slot/tab/white/cq9_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .cq9.on {background:url(../img/theme/slot/tab/white/cq9_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .playstar {width:90px; background:url(../img/theme/slot/tab/white/playstar_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .playstar.on {background:url(../img/theme/slot/tab/white/playstar_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .gameart {width:90px; background:url(../img/theme/slot/tab/white/gameart_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .gameart.on {background:url(../img/theme/slot/tab/white/gameart_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .ttg {width:90px; background:url(../img/theme/slot/tab/white/ttg_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .ttg.on {background:url(../img/theme/slot/tab/white/ttg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .genesis {width:90px; background:url(../img/theme/slot/tab/white/genesis_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .genesis.on {background:url(../img/theme/slot/tab/white/genesis_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .tpg {width:90px; background:url(../img/theme/slot/tab/white/tpg_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .tpg.on {background:url(../img/theme/slot/tab/white/tpg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bgaming {width:90px; background:url(../img/theme/slot/tab/white/bgaming_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .bgaming.on {background:url(../img/theme/slot/tab/white/bgaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .evoplay {width:90px; background:url(../img/theme/slot/tab/white/evoplay_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .evoplay.on {background:url(../img/theme/slot/tab/white/evoplay_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .dreamtech {width:90px; background:url(../img/theme/slot/tab/white/dreamtech_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .dreamtech.on {background:url(../img/theme/slot/tab/white/dreamtech_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .agnew {width:90px; background:url(../img/theme/slot/tab/white/agnew_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .agnew.on {background:url(../img/theme/slot/tab/white/agnew_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .stargame {width:90px; background:url(../img/theme/slot/tab/white/stargame_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .stargame.on {background:url(../img/theme/slot/tab/white/stargame_m_on.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .theshow {width:90px; background:url(../img/theme/slot/tab/white/theshow_m.png) no-repeat; background-size:90px 20px; }
.slot_white .all_game_list_m .theshow.on {background:url(../img/theme/slot/tab/white/theshow_m_on.png) no-repeat; background-size:90px 20px; }


.slot_black .all_game_list_left .pragmaticplay {background:url(../img/theme/slot/tab/black/pragmaticplay.png) no-repeat; }
.slot_black .all_game_list_left .pragmaticplay.on,
.slot_black .all_game_list_left .pragmaticplay:hover {background:url(../img/theme/slot/tab/black/pragmaticplay_on.png) no-repeat; }
.slot_black .all_game_list_left .habanero {background:url(../img/theme/slot/tab/black/habanero.png) no-repeat; }
.slot_black .all_game_list_left .habanero.on,
.slot_black .all_game_list_left .habanero:hover {background:url(../img/theme/slot/tab/black/habanero_on.png) no-repeat; }
.slot_black .all_game_list_left .spadegaming {background:url(../img/theme/slot/tab/black/spadegaming.png) no-repeat; }
.slot_black .all_game_list_left .spadegaming.on,
.slot_black .all_game_list_left .spadegaming:hover {background:url(../img/theme/slot/tab/black/spadegaming_on.png) no-repeat; }
.slot_black .all_game_list_left .playngo {background:url(../img/theme/slot/tab/black/playngo.png) no-repeat; }
.slot_black .all_game_list_left .playngo.on,
.slot_black .all_game_list_left .playngo:hover {background:url(../img/theme/slot/tab/black/playngo_on.png) no-repeat; }
.slot_black .all_game_list_left .maverick {background:url(../img/theme/slot/tab/black/maverick.png) no-repeat; }
.slot_black .all_game_list_left .maverick.on,
.slot_black .all_game_list_left .maverick:hover {background:url(../img/theme/slot/tab/black/maverick_on.png) no-repeat; }
.slot_black .all_game_list_left .quickspin {background:url(../img/theme/slot/tab/black/quickspin.png) no-repeat; }
.slot_black .all_game_list_left .quickspin.on,
.slot_black .all_game_list_left .quickspin:hover {background:url(../img/theme/slot/tab/black/quickspin_on.png) no-repeat; }
.slot_black .all_game_list_left .worldmatch {background:url(../img/theme/slot/tab/black/worldmatch.png) no-repeat; }
.slot_black .all_game_list_left .worldmatch.on,
.slot_black .all_game_list_left .worldmatch:hover {background:url(../img/theme/slot/tab/black/worldmatch_on.png) no-repeat; }
.slot_black .all_game_list_left .microgaming {background:url(../img/theme/slot/tab/black/microgaming.png) no-repeat; }
.slot_black .all_game_list_left .microgaming.on,
.slot_black .all_game_list_left .microgaming:hover {background:url(../img/theme/slot/tab/black/microgaming_on.png) no-repeat; }
.slot_black .all_game_list_left .netent {background:url(../img/theme/slot/tab/black/netent.png) no-repeat; }
.slot_black .all_game_list_left .netent.on,
.slot_black .all_game_list_left .netent:hover {background:url(../img/theme/slot/tab/black/netent_on.png) no-repeat; }
.slot_black .all_game_list_left .redtiger {background:url(../img/theme/slot/tab/black/redtiger.png) no-repeat; }
.slot_black .all_game_list_left .redtiger.on,
.slot_black .all_game_list_left .redtiger:hover {background:url(../img/theme/slot/tab/black/redtiger_on.png) no-repeat; }
.slot_black .all_game_list_left .ylgaming {background:url(../img/theme/slot/tab/black/ylgaming.png) no-repeat; }
.slot_black .all_game_list_left .ylgaming.on, 
.slot_black .all_game_list_left .ylgaming:hover {background:url(../img/theme/slot/tab/black/ylgaming_on.png) no-repeat; }
.slot_black .all_game_list_left .yggdrasil {background:url(../img/theme/slot/tab/black/yggdrasil.png) no-repeat; }
.slot_black .all_game_list_left .yggdrasil.on,
.slot_black .all_game_list_left .yggdrasil:hover {background:url(../img/theme/slot/tab/black/yggdrasil_on.png) no-repeat; }
.slot_black .all_game_list_left .dragoonsoft {background:url(../img/theme/slot/tab/black/dragoonsoft.png) no-repeat; }
.slot_black .all_game_list_left .dragoonsoft.on,
.slot_black .all_game_list_left .dragoonsoft:hover {background:url(../img/theme/slot/tab/black/dragoonsoft_on.png) no-repeat; }
.slot_black .all_game_list_left .booongo {background:url(../img/theme/slot/tab/black/booongo.png) no-repeat; }
.slot_black .all_game_list_left .booongo.on, 
.slot_black .all_game_list_left .booongo:hover {background:url(../img/theme/slot/tab/black/booongo_on.png) no-repeat; }
.slot_black .all_game_list_left .playson {background:url(../img/theme/slot/tab/black/playson.png) no-repeat; }
.slot_black .all_game_list_left .playson.on,
.slot_black .all_game_list_left .playson:hover {background:url(../img/theme/slot/tab/black/playson_on.png) no-repeat; }
.slot_black .all_game_list_left .bbtech {background:url(../img/theme/slot/tab/black/bbtech.png) no-repeat; }
.slot_black .all_game_list_left .bbtech.on,
.slot_black .all_game_list_left .bbtech:hover {background:url(../img/theme/slot/tab/black/bbtech_on.png) no-repeat; }
.slot_black .all_game_list_left .isoftbet {background:url(../img/theme/slot/tab/black/isoftbet.png) no-repeat; }
.slot_black .all_game_list_left .isoftbet.on,
.slot_black .all_game_list_left .isoftbet:hover {background:url(../img/theme/slot/tab/black/isoftbet_on.png) no-repeat; }
.slot_black .all_game_list_left .pgsoft {background:url(../img/theme/slot/tab/black/pgsoft.png) no-repeat; }
.slot_black .all_game_list_left .pgsoft.on,
.slot_black .all_game_list_left .pgsoft:hover {background:url(../img/theme/slot/tab/black/pgsoft_on.png) no-repeat; }
.slot_black .all_game_list_left .bbin {background:url(../img/theme/slot/tab/black/bbin.png) no-repeat; }
.slot_black .all_game_list_left .bbin.on,
.slot_black .all_game_list_left .bbin:hover {background:url(../img/theme/slot/tab/black/bbin_on.png) no-repeat; }
.slot_black .all_game_list_left .rtg {background:url(../img/theme/slot/tab/black/rtg.png) no-repeat; }
.slot_black .all_game_list_left .rtg.on,
.slot_black .all_game_list_left .rtg:hover {background:url(../img/theme/slot/tab/black/rtg_on.png) no-repeat; }
.slot_black .all_game_list_left .cq9 {background:url(../img/theme/slot/tab/black/cq9.png) no-repeat; }
.slot_black .all_game_list_left .cq9.on,
.slot_black .all_game_list_left .cq9:hover {background:url(../img/theme/slot/tab/black/cq9_on.png) no-repeat; }
.slot_black .all_game_list_left .playstar {background:url(../img/theme/slot/tab/black/playstar.png) no-repeat; }
.slot_black .all_game_list_left .playstar.on,
.slot_black .all_game_list_left .playstar:hover {background:url(../img/theme/slot/tab/black/playstar_on.png) no-repeat; }
.slot_black .all_game_list_left .gameart {background:url(../img/theme/slot/tab/black/gameart.png) no-repeat; }
.slot_black .all_game_list_left .gameart.on,
.slot_black .all_game_list_left .gameart:hover {background:url(../img/theme/slot/tab/black/gameart_on.png) no-repeat; }
.slot_black .all_game_list_left .ttg {background:url(../img/theme/slot/tab/black/ttg.png) no-repeat; }
.slot_black .all_game_list_left .ttg.on,
.slot_black .all_game_list_left .ttg:hover {background:url(../img/theme/slot/tab/black/ttg_on.png) no-repeat; }
.slot_black .all_game_list_left .genesis {background:url(../img/theme/slot/tab/black/genesis.png) no-repeat; }
.slot_black .all_game_list_left .genesis.on,
.slot_black .all_game_list_left .genesis:hover {background:url(../img/theme/slot/tab/black/genesis_on.png) no-repeat; }
.slot_black .all_game_list_left .tpg {background:url(../img/theme/slot/tab/black/tpg.png) no-repeat; }
.slot_black .all_game_list_left .tpg.on,
.slot_black .all_game_list_left .tpg:hover {background:url(../img/theme/slot/tab/black/tpg_on.png) no-repeat; }
.slot_black .all_game_list_left .bgaming {background:url(../img/theme/slot/tab/black/bgaming.png) no-repeat; }
.slot_black .all_game_list_left .bgaming.on,
.slot_black .all_game_list_left .bgaming:hover {background:url(../img/theme/slot/tab/black/bgaming_on.png) no-repeat; }
.slot_black .all_game_list_left .evoplay {background:url(../img/theme/slot/tab/black/evoplay.png) no-repeat; }
.slot_black .all_game_list_left .evoplay.on,
.slot_black .all_game_list_left .evoplay:hover {background:url(../img/theme/slot/tab/black/evoplay_on.png) no-repeat; }
.slot_black .all_game_list_left .dreamtech {background:url(../img/theme/slot/tab/black/dreamtech.png) no-repeat; }
.slot_black .all_game_list_left .dreamtech.on,
.slot_black .all_game_list_left .dreamtech:hover {background:url(../img/theme/slot/tab/black/dreamtech_on.png) no-repeat; }
.slot_black .all_game_list_left .agnew {background:url(../img/theme/slot/tab/black/agnew.png) no-repeat; }
.slot_black .all_game_list_left .agnew.on,
.slot_black .all_game_list_left .agnew:hover {background:url(../img/theme/slot/tab/black/agnew_on.png) no-repeat; }
.slot_black .all_game_list_left .stargame {background:url(../img/theme/slot/tab/black/stargame.png) no-repeat; }
.slot_black .all_game_list_left .stargame.on,
.slot_black .all_game_list_left .stargame:hover {background:url(../img/theme/slot/tab/black/stargame_on.png) no-repeat; }
.slot_black .all_game_list_left .theshow {background:url(../img/theme/slot/tab/black/theshow.png) no-repeat; }
.slot_black .all_game_list_left .theshow.on,
.slot_black .all_game_list_left .theshow:hover {background:url(../img/theme/slot/tab/black/theshow_on.png) no-repeat; }



.slot_black .all_game_list_m .pragmaticplay {width:93px; background:url(../img/theme/slot/tab/black/pragmaticplay_m.png) no-repeat; background-size:93px 40px; }
.slot_black .all_game_list_m .pragmaticplay.on {background:url(../img/theme/slot/tab/black/pragmaticplay_m_on.png) no-repeat; background-size:93px 40px; }
.slot_black .all_game_list_m .habanero {width:90px; background:url(../img/theme/slot/tab/black/habanero_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .habanero.on {background:url(../img/theme/slot/tab/black/habanero_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .spadegaming {width:90px; background:url(../img/theme/slot/tab/black/spadegaming_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .spadegaming.on {background:url(../img/theme/slot/tab/black/spadegaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .playngo {width:73.5px; background:url(../img/theme/slot/tab/black/playngo_m.png) no-repeat; background-size:73.5px 20px; }
.slot_black .all_game_list_m .playngo.on {background:url(../img/theme/slot/tab/black/playngo_m_on.png) no-repeat; background-size:73.5px 20px; }
.slot_black .all_game_list_m .maverick {width:68.5px; background:url(../img/theme/slot/tab/black/maverick_m.png) no-repeat; background-size:68.5px 20px; }
.slot_black .all_game_list_m .maverick.on {background:url(../img/theme/slot/tab/black/maverick_m_on.png) no-repeat; background-size:68.5px 20px; }
.slot_black .all_game_list_m .quickspin {width:82.5px; background:url(../img/theme/slot/tab/black/quickspin_m.png) no-repeat; background-size:82.5px 20px; }
.slot_black .all_game_list_m .quickspin.on {background:url(../img/theme/slot/tab/black/quickspin_m_on.png) no-repeat; background-size:82.5px 20px; }
.slot_black .all_game_list_m .worldmatch {width:47px; background:url(../img/theme/slot/tab/black/worldmatch_m.png) no-repeat; background-size:47px 20px; }
.slot_black .all_game_list_m .worldmatch.on {background:url(../img/theme/slot/tab/black/worldmatch_m_on.png) no-repeat; background-size:47px 20px; }
.slot_black .all_game_list_m .microgaming {width:90px; background:url(../img/theme/slot/tab/black/microgaming_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .microgaming.on {background:url(../img/theme/slot/tab/black/microgaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .netent {width:57px; background:url(../img/theme/slot/tab/black/netent_m.png) no-repeat; background-size:57px 20px; }
.slot_black .all_game_list_m .netent.on {background:url(../img/theme/slot/tab/black/netent_m_on.png) no-repeat; background-size:57px 20px; }
.slot_black .all_game_list_m .redtiger {width:90px; background:url(../img/theme/slot/tab/black/redtiger_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .redtiger.on {background:url(../img/theme/slot/tab/black/redtiger_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .ylgaming {width:81.5px; background:url(../img/theme/slot/tab/black/ylgaming_m.png) no-repeat; background-size:81.5px 20px; }
.slot_black .all_game_list_m .ylgaming.on {background:url(../img/theme/slot/tab/black/ylgaming_m_on.png) no-repeat; background-size:81.5px 20px; }
.slot_black .all_game_list_m .yggdrasil {width:90px; background:url(../img/theme/slot/tab/black/yggdrasil_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .yggdrasil.on {background:url(../img/theme/slot/tab/black/yggdrasil_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .dragoonsoft {width:90px; background:url(../img/theme/slot/tab/black/dragoonsoft_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .dragoonsoft.on {background:url(../img/theme/slot/tab/black/dragoonsoft_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .booongo {width:84.5px; background:url(../img/theme/slot/tab/black/booongo_m.png) no-repeat; background-size:84.5px 20px; }
.slot_black .all_game_list_m .booongo.on {background:url(../img/theme/slot/tab/black/booongo_m_on.png) no-repeat; background-size:84.5px 20px; }
.slot_black .all_game_list_m .playson {width:90px; background:url(../img/theme/slot/tab/black/playson_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .playson.on {background:url(../img/theme/slot/tab/black/playson_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bbtech {width:90px; background:url(../img/theme/slot/tab/black/bbtech_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bbtech.on {background:url(../img/theme/slot/tab/black/bbtech_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .isoftbet {width:90px; background:url(../img/theme/slot/tab/black/isoftbet_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .isoftbet.on {background:url(../img/theme/slot/tab/black/isoftbet_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .pgsoft {width:90px; background:url(../img/theme/slot/tab/black/pgsoft_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .pgsoft.on {background:url(../img/theme/slot/tab/black/pgsoft_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bbin {width:90px; background:url(../img/theme/slot/tab/black/bbin_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bbin.on {background:url(../img/theme/slot/tab/black/bbin_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .rtg {width:90px; background:url(../img/theme/slot/tab/black/rtg_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .rtg.on {background:url(../img/theme/slot/tab/black/rtg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .cq9 {width:90px; background:url(../img/theme/slot/tab/black/cq9_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .cq9.on {background:url(../img/theme/slot/tab/black/cq9_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .playstar {width:90px; background:url(../img/theme/slot/tab/black/playstar_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .playstar.on {background:url(../img/theme/slot/tab/black/playstar_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .gameart {width:90px; background:url(../img/theme/slot/tab/black/gameart_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .gameart.on {background:url(../img/theme/slot/tab/black/gameart_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .ttg {width:90px; background:url(../img/theme/slot/tab/black/ttg_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .ttg.on {background:url(../img/theme/slot/tab/black/ttg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .genesis {width:90px; background:url(../img/theme/slot/tab/black/genesis_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .genesis.on {background:url(../img/theme/slot/tab/black/genesis_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .tpg {width:90px; background:url(../img/theme/slot/tab/black/tpg_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .tpg.on {background:url(../img/theme/slot/tab/black/tpg_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bgaming {width:90px; background:url(../img/theme/slot/tab/black/bgaming_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .bgaming.on {background:url(../img/theme/slot/tab/black/bgaming_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .evoplay {width:90px; background:url(../img/theme/slot/tab/black/evoplay_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .evoplay.on {background:url(../img/theme/slot/tab/black/evoplay_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .dreamtech {width:90px; background:url(../img/theme/slot/tab/black/dreamtech_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .dreamtech.on {background:url(../img/theme/slot/tab/black/dreamtech_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .agnew {width:90px; background:url(../img/theme/slot/tab/black/agnew_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .agnew.on {background:url(../img/theme/slot/tab/black/agnew_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .stargame {width:90px; background:url(../img/theme/slot/tab/black/stargame_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .stargame.on {background:url(../img/theme/slot/tab/black/stargame_m_on.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .theshow {width:90px; background:url(../img/theme/slot/tab/black/theshow_m.png) no-repeat; background-size:90px 20px; }
.slot_black .all_game_list_m .theshow.on {background:url(../img/theme/slot/tab/black/theshow_m_on.png) no-repeat; background-size:90px 20px; }